<div class="jumbotron text-center" >
    <h1 class="display-3"> {{title}} </h1>
    <P class="lead" > Start New Show Specs </P>
    <a href="/showSpecs/add" class="btn btn-primary btn-lg" > Add New Show Specs </a>

</div>